.block {
  display: inline-block;
  width: 50%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}