.block {
  display: inline;
  width: 40%;
  border: solid;
  background-color: #4a884c;
  padding: 14px 28px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin: 70px;
}