body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282C30;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px 100px 10px 100px;
}

.title h1 {
  margin: 10px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

.title h2 {
  margin: 0px;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.App h2 {
  font-size: 30px;
}


.Forms{ 
  display: flex;
  flex-direction: row;
}
.Form {
  display: inline-block;
  margin: 20px;
}


.col1 {
  margin: 0px;
  display: inline;
}

.col2 {
  margin: 0px;
  display: flex;
  width: 20%;
  background-color: #565F69;
  padding: 15px;
  border-radius: 15px;
}

.Bottom {
  font-size: 40px;
}

.containery {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.resize {
  width: auto;
  height: 300px;
}

.resize1 {
  width: auto;
  height: 300px;
}

.clear { clear:both;}