.monitorCombination {
  float: right;
  background-color: #8f8f8f;
}

.monitorCircle {
  display: inline-block;
  margin: 20px;
}

.monitorName {
  display: inline-block;
}

.resize {
    width: 40px;
    height: auto;
}

.resize {
    width: 30px;
    height: auto;
}