.monitorCombination {
  float: right;
}

.monitorCircle {
  display: inline-block;
  margin: 20px;
}

.titleM h3 {
    font-size: 30px;
    text-align: center;
    font-weight: 700px;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 20px;
    margin: 12px;
}

.green_dot {
    display: inline;
    align-self: center;
    margin: 0px 10px 0px 10px;
    background-color: #87DB3A;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.red_dot {
    display: inline;
    align-self: center;
    margin: 0px 10px 0px 10px;
    background-color: #FA3434;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
