.monitorCombination {
  float: right;
  background-color: #8f8f8f;
}

.monitorCircle {
  display: inline-block;
  margin: 20px;
}

.green_dot {
    display: inline;
    align-self: center;
    margin: 0px 15px 0px 15px;
    background-color: #87DB3A;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.red_dot {
    display: inline;
    align-self: center;
    margin: 0px 15px 0px 15px;
    background-color: #FA3434;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
